################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bank-Account-Management-OOP
/x64/Debug
/CppProperties.json
