################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bank-Account-Management-OOP
/x64/Debug
/CppProperties.json
/enc_temp_folder/7c3103723481f9b6f54e8a78caf368
/AccountsSeverDataBase.txt
/AccountsDetails.txt
